<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<style>
    #Table
</style>
<body>
    <div layout:fragment="content" class="container body-content">
        <div class="jumbotron">
            <h1>About Us</h1>
            <p class="lead">For all your information about Jess and Tom and our staff</p>
        </div>
        <style>

        </style>

        <h4><strong>About out staff</strong></h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Picture</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Date of birth</th>
                    <th>Favourite food</th>
                    <th>Favourite film</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><div class="media">
                        <div class="media-left">
                            <img src="me3.png" class="media-object" style="width: 90px ">
                        </div>
                        </div>
                    </td>
                    <td>Jess</td>
                    <td>Gilbert</td>
                    <td>20/03/2000</td>
                    <td>Cookies</td>
                    <td>Black Panther</td>
                </tr>
                <tr>
                    <td><div class="media">
                        <div class="media-left">
                            <img src="tom.png" class="media-object" style="width: 90px ">
                        </div>
                    </div></td>
                    <td>Tom</td>
                    <td>Johnson</td>
                    <td>16/03/2000</td>
                    <td>Curry</td>
                    <td>Boss Baby</td>
                </tr>
                <tr>
                    <td><div class="media">
                        <div class="media-left">
                            <img src="Taiwo.png" class="media-object" style="width: 90px ">
                        </div>
                    </div></td>
                    <td>Taiwo</td>
                    <td>Olateju</td>
                    <td>12/03/1999</td>
                    <td>Instant Noodles</td>
                    <td>Sicario</td>
                </tr>
                <tr>
                    <td><div class="media">
                        <div class="media-left">
                            <img src="ben.png" class="media-object" style="width: 90px ">
                        </div>
                    </div></td>
                    <td>Ben</td>
                    <td>Fernandes</td>
                    <td>31/10/1999</td>
                    <td>Mexican</td>
                    <td>Snatch</td>
                </tr>
            </tbody>
        </table>


    </div>
</body>
</html>