<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Home page</title>
    <!--styles the html file using css-->
    <style>

        #errorMessage{
            width: 25%;
            text-align: center;
        }

        #box{
            background-color: #6c757d;
            padding: 2%;
            width: 30%;

        }
        #textBox{
            padding: 1%;
            width: 100%;
        }

        #title{
            background-color: #343a40;
            color: white;
            width: 18%;
            text-align: left;
            padding: 1%;
        }

    </style>
</head>
<body>
<div layout:fragment="content" class="container body-content">
    <div class="jumbotron">
        <h1>BusBoard</h1>
        <p class="lead">For all your bus info needs. Enter a postcode below and click enter to see bus times for that location.</p>
    </div>

    <div th:if="${homeModel.error != null}" id="errorMessage" class="alert alert-danger">
        <h4 th:text="${homeModel.error}"></h4>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form id="messageForm" th:action="@{/busInfo}" method="get">
                <fieldset>
                    <legend id="title">Plan a journey:</legend>
                    <div id="box">
                        <input id="textBox" type="text" name="postcode" value="Enter postcode...">
                        <p></p>
                        <input type="submit" value="Plan my journey"/>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>

