<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Bus Information</title>
</head>
<body>
<div layout:fragment="content" class="container body-content">
    <h2>Bus Information</h2>
    <div>
        <ol>
            <li th:each="mybus: ${busInfo.buses}">
                The bus number <span th:text="${mybus.lineName}"></span> is coming in <span th:text="${mybus.timeToStation}"></span> seconds
            </li>
        </ol>
    </div>
</div>
</body>
</html>